<!--NAVBAR-->
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand"></a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/bio']"
         routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/bio']"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact : true}">Bio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/details']"
         routerLinkActive="active">Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         [routerLink]="['/display']"
         routerLinkActive="active">Display</a>
    </li>
  </ul>
</nav>

<!--MAIN PAGE CONTENT-->
<router-outlet #o="outlet"></router-outlet>

<!--FOOTER-->

