<h1>Bio</h1>
<div class="row">
  <div class="col-md-6">
    This is a very simple web app meant to show the results of my practice with both the angular CLI and Git.
    I spent time learning how to use the CLI to make a simple web site. I may come back and add some more things, like a database or more information,
    but for now this is a very simple small application
  </div>

  <div class="col-md-6">
    I'm Sam. I like coding and learning new things. I have no experience with angular and git, but I'm really liking them.
    I'm excited to see what new things I can learn about web development and version control.
  </div>
</div>
